*{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Lobster Two', sans-serif;
    font-size: 100px;
    margin: 0;
}
h2{
    font-size: 50px;
    margin: 0;
}
h3{
    font-size: 25px;
    margin: 10px 0px;
}
.inner{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
button{
    background-color: #307ed1;
    border: 0;
    border-radius: 10px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    transition: all .1s ease-in-out;            
}
button:active{
    transform: scale(.95);
}